/* Author: Dorian Knight */
/* Date: June 3rd 2025 */
/* Description: Style sheet to describe the formatting of the portfolio content layout which is used on multiple pages */

/* ############# Portfolio content styling ############# */
.row {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 1vw;
    padding: 0.5vw 0;
}

.row>.indv_project {
    border-style: solid;
    border-color: var(--theme-secondary);
    padding: 2vw;
    border-radius: 2vw;
    border-width: 1px;
    transition: var(--fast-transition);
}

.row>.indv_project:hover {
    box-shadow: 5px 3px 5px var(--light-gray);
}

.row>.indv_project>.project_title{
    display: flex;
    font-weight: var(--text-bold);
    font-size: var(--medium-size);
    align-items: center;
}

.row>.indv_project>.project_title>.proj_title_icon {
    width: 3vw;
    padding-left: 1vw;
}

.row>.indv_project>.project_description {
    display: flex;
    font-size: var(--medium-size);
    align-items: center;
}

.row>.indv_project>.project_description>.text {
    height: 9vw;
}

.row>.indv_project>.project_description>div>.project_img {
    height: 15vw;
    width: 15vw;
    padding: 0.5vw 0vw;
    object-fit: contain;
}

.row>.indv_project>.project_skill_images {
    display: flex;
    align-items: center;
    padding-bottom: 0.5vw;
}

.row>.indv_project>.project_skill_images>div>.skill_img {
    width: 2vw;
    padding-right: 0.3vw;
    aspect-ratio: auto;
}

.row>.indv_project>.readmore>a{
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    width: fit-content;
    font-size: var(--regular-size);
}

.row>.indv_project>.readmore>a>.readmore_arrow {
    width: 2vw;
    padding: 0vw 1vw;
}

.row>.indv_project>.readmore>a:hover {
    text-decoration: underline;
}