* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #4891ff;
    --light-color: #f4f4f6;
    --dark-color: #111;
    --container-size: 1600px;
    --header-font-size: 64px;
    --header-font-weight: 600;
    --subheader-font-size: 50px;
    --subheader-font-weight: 400;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background: #fff
}

a {
    text-decoration: none;
    color: #333;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

/* Navbar */
.navbar {
    background: #fff;
    padding: 20px;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .main-menu ul {
    display: flex;
}

.navbar ul li a {
    padding: 10px 50px;
    display: block;
    font-weight: 600;
    transition: 0.5s;
    font-size: 24px;
}

.navbar ul li a:hover {
    color: var(--primary-color);
}

.navbar ul li:last-child a:hover {
    color: var(--dark-color);
}

.navbar ul li a i {
    margin-right: 10px;
}

.navbar ul li:last-child a {
    margin-left: 10px;
}

/* Utility Casses */
.container {
    max-width: var(--container-size);
    margin: 0 auto;
    padding: 0 15px;
}

.container-sm {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 15px;
}

.container-binary {
    max-width: var(--container-size);
    margin: 0 auto;
    column-count: 2;
}

.landing-name {
    font-size: 80px;
    font-weight: var(--header-font-weight);
    color: #000;
    position: relative;
    top: 20%;
    left: 15%;
    position: relative;
}

.landing-name .landing-text {
    font-size: 35px;
    position:relative;
    left: -10%;
}

.landing-name .landing-explanation {
    font-size: 25px;
    position: relative;
    font-weight: 400;
    left:-35%;
    vertical-align: middle;
    text-align: center;
    padding: 50px;
}

.header {
    font-size: 64px;
    font-weight: var(--header-font-weight);
    text-align: center;
    position: relative;
    padding: 60px 60px;
}

.carre {
    position: relative;
    padding: 30px 15px;
}

.carre-pic {
    max-height: 500px;
    transition: 0.6s;
}

.carre:hover .carre-pic {
    opacity:0.2;
}

.carre .image-content-header {
    position: absolute;
    color: var(--dark-color);
    font-size: var(--subheader-font-size);
    font-weight: var(--subheader-font-weight);
    top:30%;
    left: 50%;
    width: 100%;
    transform: translate(-50%,-50%);
    text-align: center;
    opacity: 0;
    transition: 0.6s;
}

.carre:hover .image-content-header {
    opacity:1;
}

.carre .image-content-desc {
    position: absolute;
    color: var(--dark-color);
    font-size: 30px;
    top: 55%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-wrap: wrap;
    opacity: 0;
    transition: 0.6s;
}

.carre:hover .image-content-desc {
    opacity:1;
}

.main-image {
    height: 600px;
    background-image: url("/images/pen-on-paper.jpg");
    background-size: var(--container-size);
    background-position: right;
}

/* Buttons */
.btn {
    display: inline-block;
    padding: 13px 20px;
    background: var(--light-color);
    color: #333;
    font-weight: var(--header-font-weight);
    text-decoration: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.btn:hover {
    opacity: 0.8;
}

.btn-primary {
    background: var(--primary-color);
    color: #fff;
}

.btn-dark {
    background: var(--dark-color);
    color: #fff
}

.btn-block {
    display: block;
    width: 100%;
}

/* Text Classes */
.text-xxl {
    font-size: 3rem;
    line-height: 1.2;
    font-weight: var(--header-font-weight);
    margin: 40px, 0 20px;
}

.text-xl {
    font-size: 2.2rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 40px, 0 20px;
}

.text-lg {
    font-size: 1.8rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 30px, 0 20px;
}

.text-md {
    font-size: 1.2rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 20px, 0 10px;
}

.text-sm {
    font-size: 0.9rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 10px, 0 5px;
}

.text-center {
    text-align: center;
}